@charset "utf-8";
/* CSS Document */
/*重置*/
html{/*height:100%;*/overflow-y:scroll;overflow-x:visible;}
body,ul,li,ol,p,h1,h2,h3,h4,h5,h6,form,label,dl,dt,dd,fieldset,img {margin:0;padding:0;border:0;list-style:none}
body{font:12px/20px '微软雅黑','Microsoft Yahei',Arial,Lucida Grande,Tahoma,sans-serif;/*height:100%;*/overflow:hidden;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
cite,em{font-style:normal}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
label{cursor:pointer;}
div,ul,dl,dt,dd,li{zoom:1;}
div:after,ul:after,dl:after,dt:after,dd:after,li:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
input{vertical-align:-2px;_vertical-align:0px;margin:0px 4px 0px 0px;}
input,textarea{resize:none;outline:none;margin:0;}

/*女院微讯*/
.header{position:relative;overflow:hidden;margin:0px;padding:0px;width:100%;height:60px;z-index:9;background-color:#FFF;}
.logo{position:absolute;left:120px;top:10px;width:159px;height:41px;background:url(../images/logo.png) no-repeat;}
.logo a{display:block;height:40px;text-indent:-9999px;}
.nav{position:absolute;left:272px;top:10px;width:200px;height:40px;}
.nav ul{list-style:none;}
.nav ul li{padding-left:20px;position:relative;float:left;height:40px;width:60px;}
.nav ul li a{padding:3px 3px;position:relative;display:block;font-size:18px;line-height:40px;color:#000;text-decoration:none;}
.nav ul li a:hover{color:#de1d33;text-decoration:none;} 

.nologin{position:absolute;left:1044px;top:14px;width:200px;height:40px;}
.nologin ul{list-style:none;}
.nologin ul li{padding-left:20px;display:inline;float:left;width:60px;height:40px;}
.nologin ul li a{display:block;font-size:18px;line-height:32px;color:#de1d33;text-decoration:none;text-align:center;
	border:1px solid #de1d33;border-radius: 5px 5px 5px 5px;}
.nologin ul li a:hover{background:#de1d33;color:#FFF;} 

.suclogin{position:absolute;left:1092px;height:40px;top:10px;font-size:14px;font-weight:700;line-height:20px;color:#de1d33;}
.stunum{display:block;;font-size:18px;}

.main{position:relative;width:100%;height:600px;background:url(../images/Spring_bg.jpg) no-repeat center top;}

.search{padding-left:10px;position:absolute;left:50%;top:30%;margin-left:-225px;width:450px;height:60px;border:2px solid #E0E0E0;background:#FFFFFF;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	}
.inputBox{display:inline;width:60%;height:60px;padding:0px;margin:0px;outline:none;font-size:28px;line-height:60px;color:#A8A8A8;border:none;background:#FFFFFF;}
.inputBox:focus{color:#000;}
.search a.sendIco{display:inline;float:right;width:28%;height:58px;font-size:24px;line-height:58px;color:#FFFFFF;background:#ee4d59;border:1px solid #de1d33;text-align:center;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	}
.search a.sendIco:hover{background:#de1d33;text-decoration:none;}

.keywordlist{position:absolute;left:50%;top:85%;margin-left:-600px;width:1200px;height:40px;}
.keywordlist ul{list-style:none;}
.keywordlist ul li{padding-left:20px;float:left;width:150px;height:40px;}
.keywordlist ul li a{display:block;font-size:18px;line-height:40px;color:#FFFFFF;text-decoration:none;text-align:center;background:#de1d33;
	border:1px solid #de1d33;border-radius: 5px 5px 5px 5px;}
.keywordlist ul li a:hover{background:#ee4d59;} 

.footer{overflow:hidden;margin:0px;padding:0px;height:5px;width:100%;
	background: -ms-linear-gradient(left, #F3FE98,  #de1d33);       
	background:-moz-linear-gradient(left,#F3FE98,#de1d33);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#F3FE98), to(#de1d33));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3FE98), to(#de1d33));     
	background: -webkit-linear-gradient(left, #F3FE98, #de1d33); 
	background: -o-linear-gradient(left, #F3FE98, #de1d33);  
	}
	
/*新闻搜索页*/
.serchrel{position:absolute;left:30%;top:5%;width:250px;height:30px;}
.serchrel .inputBox{height:30px;font-size:18px;line-height:30px;}
.serchrel a.sendIco{height:28px;font-size:15px;line-height:28px;}

.timesearch{position:absolute;left:57%;top:5%;width:390px;height:30px;}
.timesearch .inputBox{width:35%;height:24px;font-size:18px;line-height:24px;}
.timesearch a.sendIco{width:16%;height:28px;font-size:15px;line-height:28px;}
.line{display:inline;width:10%;font-size:18px;line-height:30px;color:#000000;}

.sectionsearch{padding-left:10px;position:absolute;left:77%;top:5%;width:110px;height:30px;border:2px solid #E0E0E0;background:#FFFFFF;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
.sectionsearch select{width:100px;height:30px;font-size:18px;line-height:30px;border:none;}

.tableDataInfor{position:absolute;left:52%;top:4%;margin-left:-500px;font-size:15px;line-height:30px;text-align:left;}
.tableDataInfor td{height:30px;}
.tableDataInfor td a{text-decoration:none;color:#000;}
.tableDataInfor td a:hover{color:#de1d33;text-decoration:none;}
.searchnewslist{position:absolute;left:50%;top:20%;margin-left:-500px;width:1000px;height:412px;background:#FFF;opacity:0.75;filter:alpha(opacity=75);border:2px solid #de1d33;-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	}
.searchnewslist p{position:absolute;bottom:8%;width:1000px;height:40px;text-align:center;font-size:15px;}
.searchnewslist p a{text-decoration:none;color:#000;}
.searchnewslist p a:hover{color:#de1d33;text-decoration:none;}

/*最新新闻页*/
.serchtop{position:absolute;width:400px;left:50%;top:20%;width:544px;height:35px;}
.serchtop .inputBox{height:35px;font-size:18px;line-height:35px;}
.serchtop a.sendIco{width:12%;height:32px;font-size:16px;line-height:32px;}

.newslist h1{position:absolute;left:14%;top:5%;width:250px;height:30px;font-size:30px;font-weight:700;color:#de1d33}

/*遮罩层*/
.overlay{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;background:#CCC;opacity:0.5;z-index:100}	
.loginbox{position:fixed;_position:absolute;padding:20px;margin:-200px 0px 0px -166px;top:50%;left:50%;width:333px;height:216px;background:#FFF;z-index:500;border:1px solid #de1d33;-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;}
.loginbox label{font-size:18px;}
.loginbox a{display:inline-block;margin:4px auto;width:333px;height:40px;font-size:18px;line-height:40px;color:#FFF;text-decoration:none;background:#de1d33;text-align:center;border:1px solid #de1d33;-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;}
.loginbox a:hover{background:#FFF;color:#de1d33;text-decoration:none;} 


/*选择器*/
.selector-set{position:absolute;left:50%;top:14%;margin-left:-450px;width:900px;height:24px;line-height:24px;}
.selector-set h4{font-size:18px;color:#000000;width:80px;}
.selector-item{display:inline-block;float:left;margin-right:8px;height:22px;line-height:22px;font-size:12px;vertical-align:top;margin:0 5px 5px 0;padding:0 2px 0 4px;border:1px solid #DDD;}
.selector-item em{color:#e4393c;}
.selector-item i{display:block;float:right; width:25px;height:22px;background: url(/static/schapp/img/search.png) no-repeat 7px -140px;}

/*个人信息修改*/
.personinfo{padding:50px 0px 0px 0px;width:1000px;margin:auto;}
.personinfo h1{font-size:25px;line-height:80px;text-align:center;}
.personinfo label,.personinfo span{font-size:18px;line-height:50px;}
.personinfo label{margin:0px 10px 0px 6px;}
.personinfo input{width:18px;height:18px;cursor:pointer;}
.personinfo select{width:100px;height:30px;font-size:18px;line-height:30px;border:none;}
.personinfo a{margin:20px auto;display:block;width:333px;height:40px;font-size:18px;line-height:40px;color:#FFF;text-decoration:none;background:#de1d33;text-align:center;border:1px solid #de1d33;-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;}
.personinfo a:hover{background:#FFF;color:#de1d33;text-decoration:none;} 
.personinfo .presonbg{width:1000px;height:500px;text-indent:-99999px;}